@model Usuario
@{
    Dictionary<string, bool> roles = ViewBag.Roles;
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Edit" class="col-lg-8">
    <p class="fs-3 fw-bold">Datos del Usuario</p>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="form-group mb-2">
        <div class="input-group">
            <label asp-for="Nombres" class="input-group-text">Nombres</label>
            <input asp-for="Nombres" class="form-control"/>
        </div>
        <span asp-validation-for="Nombres" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <div class="input-group">
            <label asp-for="Apellidos" class="input-group-text">Apellidos</label>
            <input asp-for="Apellidos" class="form-control"/>
        </div>
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <div class="input-group">
            <label asp-for="Email" class="input-group-text">Email</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <p class="fs-3 fw-bold">Roles</p>
    @foreach (var rol in roles)
    {
        <div class="form-group">
            <input type="checkbox" id="@rol.Key" name="Roles[@rol.Key]" value="true" @(rol.Value ? "checked" : "")/>
            <label for="@rol.Key">@rol.Key</label>
        </div>
    }
    <div class="mt-3 pt-3 border-top">
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left-square"></i>
            Volver
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-check-square"></i>
            Guardar
        </button>
        <a class="btn btn-danger me-2" asp-action="Delete" asp-route-id="Id">
            <i class="bi bi-person-x"></i>
            Eliminar
        </a>
    </div>
</form>

