@model Usuario
@{
    Dictionary<string, bool> roles = ViewBag.Roles;
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Nombres" class="control-label">Nombres</label>
        <input asp-for="Nombres" class="form-control"/>
        <span asp-validation-for="Nombres" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Apellidos" class="control-label">Apellidos</label>
        <input asp-for="Apellidos" class="form-control"/>
        <span asp-validation-for="Apellidos" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    @foreach (var rol in roles)
    {
        <div class="form-group">
            <input type="checkbox" id="@rol.Key" name="Roles[@rol.Key]" value="true" @(rol.Value ? "checked" : "") />
            <label for="@rol.Key">@rol.Key</label>
        </div>
    }
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
    <a class="col btn btn-sm btn-outline-danger" asp-action="Delete" asp-route-id="Id">
        <i class="bi bi-person-x"></i>
        Eliminar
    </a>
</form>
<a asp-action="Index">Volver</a>