@model Habitacion

@{
    ViewBag.Title = "Nueva Habitación";
    Layout = "_Layout";
    List<TipoHabitacion> tiposHabitacion = ViewBag.TiposHabitacion;
    ViewBag.ControllerName = "Habitaciones";
}

<div class="fs-3 fw-bold mb-3">Nueva Habitación</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md input-group mb-3">
            <div class="input-group-text">
                <input id="Habilitado" asp-for="Habilitado" class="form-check-input" type="checkbox"/>
            </div>
            <label class="form-control">Habilitado</label>
            <label class="input-group-text">Número</label>
            <input asp-for="Id" class="form-control"/>
        </div>
        <div class="col-md input-group mb-3">
            <label class="input-group-text">Piso</label>
            <input asp-for="Piso" class="form-control"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md input-group mb-3">
            <label class="input-group-text">Tipo de habitación</label>
            <select asp-for="IdTipoHabitacion" class="form-select">
                @foreach (var tipoHabitacion in tiposHabitacion)
                {
                    <option value="@tipoHabitacion.Id">@tipoHabitacion.Nombre</option>
                }
            </select>
        </div>
        <div class="col-md input-group mb-3">
            <label class="input-group-text">Ubicación</label>
            <input asp-for="Ubicacion" class="form-control"/>
        </div>
    </div>

    @await Html.PartialAsync("CRUD/_CreateButtons")
</form>