@model Habitacion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Habitacion</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Nro" class="control-label">Nro. de Habitación</label>
                <input asp-for="Nro" class="form-control"/>
                <span asp-validation-for="Nro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoHabitacion" class="control-label">Tipo de habitación</label>
                <select asp-for="IdTipoHabitacion" class="form-control" asp-items="ViewBag.IdTipoHabitacion"></select>
                <span asp-validation-for="IdTipoHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habilitado" class="control-label"></label>
                <input type="checkbox" asp-for="Habilitado" class="form-check-input"/>
                <span asp-validation-for="Habilitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservado" class="control-label"></label>
                <input type="checkbox" asp-for="Reservado" class="form-check-input"/>
                <span asp-validation-for="Reservado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>