<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        @* <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a> *@
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Habitaciones" asp-action="Index">Habitaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Huespedes" asp-action="Index">Huéspedes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
    </li>
    <li class="nav-item">
        @* <a class="nav-link text-dark" asp-area="" asp-controller="Caja" asp-action="Index">Caja</a> *@
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="GestionUsuarios" asp-action="Index">Usuarios</a>
    </li>
</ul>
