@model SistemaHotel.Models.Cliente

@{
    ViewData["Title"] = "Eliminar";
    ViewBag.id = Model.Id.ToString();
    ViewBag.ControllerName = "Clientes";
}

<div class="fs-3 fw-bold mb-3">Eliminar Cliente</div>
<div class="fs-5 fw-bold mb-3 text-danger">¿Está seguro de que desea eliminar de forma permanente lo siguiente?</div>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="input-group">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 g-3">
            <div class="input-group">
                <label class="input-group-text">Cliente</label>
                <input asp-for="Nombres" class="form-control" disabled/>
                <input asp-for="Apellidos" class="form-control" disabled/>
                <label class="input-group-text">ID</label>
                <input class="form-control" asp-for="Id" disabled/>
            </div>
        </div>
        <div class="col-md-5 g-3">
            <div class="input-group">
                <label class="input-group-text">Género</label>
                <input asp-for="Genero" class="form-control" disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 g-3">
            <div class="input-group">
                <label class="input-group-text">Razón Social</label>
                <input asp-for="RazonSocial" class="form-control" disabled/>
            </div>
        </div>
        <div class="col-md-5 g-3">
            <div class="input-group">
                <label class="input-group-text">Nro.</label>
                <input asp-for="NroRazonSocial" class="form-control" disabled/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 g-3">
            <div class="input-group">
                <label class="input-group-text">Email</label>
                <input asp-for="Email" class="form-control" disabled/>
            </div>
        </div>
        <div class="col-md-5 g-3">
            <div class="input-group">
                <label class="input-group-text">Teléfono</label>
                <input asp-for="Telefono" class="form-control" disabled/>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_DeleteButtons")
