@model SistemaHotel.Models.Cliente

@{
    ViewData["Title"] = "Eliminar";
    ViewBag.id = Model.Id.ToString();
    ViewBag.ControllerName = "Clientes";
}

<div class="fs-3 fw-bold mb-3">Eliminar Cliente</div>
<div class="fs-5 fw-bold mb-3 text-danger">¿Está seguro de que desea eliminar de forma permanente lo siguiente?</div>
@await Html.PartialAsync("Clientes/_DetallesCliente")
@await Html.PartialAsync("CRUD/_DeleteButtons")
