@model SistemaHotel.Models.Cliente

@{
    ViewData["Title"] = "Datos del Cliente";
    ViewBag.ControllerName = "Clientes";
    ViewBag.ControllerName = "Clientes";
}

<div class="fs-3 fw-bold mb-3">Datos del Cliente</div>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="input-group">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 g-3">
            <div class="input-group">
                <label class="input-group-text">Cliente</label>
                <input asp-for="Nombres" class="form-control" placeholder="Nombre"/>
                <input asp-for="Apellidos" class="form-control" placeholder="Apellido"/>
                <label class="input-group-text">ID</label>
                <input class="form-control" asp-for="Id" disabled/>
            </div>
        </div>
        <div class="col-md-5 g-3">
            <div class="input-group">
                <label class="input-group-text">Género</label>
                <select asp-for="Genero" class="form-select">
                    @{
                        switch (Model.Genero)
                        {
                            case "M":
                                <option value="M" selected>Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="IND">Indefinido</option>
                                break;
                            case "F":
                                <option value="M">Masculino</option>
                                <option value="F" selected>Femenino</option>
                                <option value="IND">Indefinido</option>
                                break;
                            case "IND":
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="IND" selected>Indefinido</option>
                                break;
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <span asp-validation-for="Nombres" class="text-danger"></span>
    <span asp-validation-for="Apellidos" class="text-danger"></span>

    <div class="row">
        <div class="col-md-7 g-3">
            <div class="input-group">
                <label class="input-group-text">Razón Social</label>
                <input asp-for="RazonSocial" class="form-control" placeholder="Nombre a Facturar"/>
            </div>
        </div>
        <div class="col-md-5 g-3">
            <div class="input-group">
                <label class="input-group-text">Nro.</label>
                <input asp-for="NroRazonSocial" class="form-control" placeholder="NIT/CI/DNI"/>
            </div>
        </div>
    </div>
    <span asp-validation-for="RazonSocial" class="text-danger"></span>
    <span asp-validation-for="NroRazonSocial" class="text-danger"></span>

    <div class="row">
        <div class="col-md-7 g-3">
            <div class="input-group">
                <label class="input-group-text">Email</label>
                <input asp-for="Email" class="form-control" placeholder="nombre@example.com"/>
            </div>
        </div>
        <div class="col-md-5 g-3">
            <div class="input-group">
                <label class="input-group-text">Teléfono</label>
                <input asp-for="Telefono" class="form-control" placeholder="+591XXXXXXXX"/>
            </div>
        </div>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>
    <span asp-validation-for="Telefono" class="text-danger"></span>
    @await Html.PartialAsync("_EditButtons", Model)
</form>
