@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Clientes";
    string controllerName = ViewBag.ControllerName;
    // ViewBag.ControllerName = "Clientes";
}

<div class="fs-3 fw-bold mb-3">Listado de Clientes</div>

@Html.Partial("Clientes/_BuscadorClientes")
<div id="listaClientesContainer">
    @await Html.PartialAsync("Clientes/_ListaClientes")
</div>
