@model Huesped

@{
    ViewBag.Title = "Huéspedes";
    Layout = "_Layout";
    ViewBag.ControllerName = "Huespedes";
    List<string> paises = ViewBag.Paises;
}

<div class="fs-3 fw-bold mb-3">Nuevo Huésped</div>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-8 g-3">
            <div class="input-group">
                <label class="input-group-text">Huésped</label>
                <input asp-for="Nombres" class="form-control" placeholder="Nombre"/>
                <input asp-for="Apellidos" class="form-control" placeholder="Apellido"/>
            </div>
        </div>
        <div class="col-md-4 g-3">
            <div class="input-group">
                <label class="input-group-text">Género</label>
                <select class="form-select">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option selected value="IND">Indefinido</option>
                </select>
            </div>
        </div>
    </div>
    <span asp-validation-for="Nombres" class="text-danger"></span>
    <span asp-validation-for="Apellidos" class="text-danger"></span>

    <div class="row">
        <div class="col-md-8 g-3">
            <div class="input-group">
                <label class="input-group-text">Doc. Identidad</label>
                <input asp-for="DocIdentidad" class="form-control" placeholder="Nro. de documento de identidad"/>
                <label class="input-group-text">Tipo Documento</label>
                <select asp-for="TipoDocIdentidad" class="form-select">
                    <option value="CI" selected>Carnet de Identidad</option>
                    <option value="DNI">Documento Nacional de Identidad</option>
                    <option value="PAS">Pasaporte</option>
                    <option value="OTRO">Otro</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 g-3">
            <div class="input-group">
                <label class="input-group-text">País</label>
                <select asp-for="Pais" class="form-select">
                    @foreach (var pais in paises)
                    {
                        <option value="@pais">@pais</option>
                    }
                </select>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("CRUD/_CreateButtons")
</form>
