@model SistemaHotel.Models.Huesped

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Huesped</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocIdentidad" class="control-label"></label>
                <input asp-for="DocIdentidad" class="form-control" />
                <span asp-validation-for="DocIdentidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocIdentidad" class="control-label"></label>
                <input asp-for="TipoDocIdentidad" class="form-control" />
                <span asp-validation-for="TipoDocIdentidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidad" class="control-label"></label>
                <input asp-for="Nacionalidad" class="form-control" />
                <span asp-validation-for="Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

