@model List<Huesped>

@{
    ViewBag.Title = "Huéspedes";
    Layout = "_Layout";
    ViewBag.ControllerName = "HuespedesController";
}

<a asp-action="Create" class="btn btn-success">
    <i class="bi bi-person-add"></i>
    Registrar huésped
</a>