@{
    string controllerName = ViewBag.ControllerName;
    string id = ViewBag.Id;
}
<form asp-controller="@controllerName" asp-action="Delete" class="mt-3 pt-3 border-top">
    <input type="hidden" asp-for="@id" />
    <a asp-controller="@controllerName" asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left-square"></i>
        Volver
    </a>
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-person-x"></i>
        Eliminar
    </button>
</form>