@{
    string controllerName = ViewBag.controllerName;
}
<div class="input-group">
    <input type="text" name="busqueda" class="form-control"/>
    <button onclick="actualizarListaClientes()" class="btn btn-secondary">
        <i class="bi bi-search"></i>
        Buscar
    </button>
    <a asp-controller="@controllerName" asp-action="Create" class="btn btn-success">
        <i class="bi bi-person-add"></i>
        Nuevo Cliente
    </a>
</div>

<script>
    async function actualizarListaClientes() {
        let busqueda = document.querySelector('input[name="busqueda"]').value;
        let response = await fetch('/@controllerName/BuscarClientes?busqueda=' + busqueda + '&controllerName=@controllerName');
        let content = await response.text();
        document.getElementById('listaClientesContainer').innerHTML = content;
    }
</script>
